{% extends "base.html" %}
{% block head_css_section %}
    <link href="{{ static_url("css/home.css") }}" rel="stylesheet">
{% end %}
{% block body_main %}
<div id="search-wrap">
    <div id="input-wrap" class="input-append">
        <input id="cmp-input" type="text" class="span4" placeholder="hehehe">
        <button id="cmp-btn" type="button" class="btn btn-primary">比吧!</button>
    </div>
    <div id="checkbox-wrap">
        <label class="checkbox inline">
            <input type="checkbox" id="tmall" value="tmall" checked="true"> 天猫
        </label>
        <label class="checkbox inline">
            <input type="checkbox" id="amazon" value="amazon" checked="true"> 亚马逊
        </label>
    </div>
</div>
<div id="res-wrap">
</div>
{% end %}
{% block footer_javascript_page %}
<script src="{{ static_url("js/home.js") }}"></script>
{% end %}
