#search-wrap {
    margin-top: 1em;
    text-align: center;
    vertical-align: middle;
}

#cmp-input {
    margin-bottom: 0;
}

#input-wrap {
    width: 100%;
}

#checkbox-wrap {
    width: 100%;
}

#checkbox-wrap label{
    width: 60px;
    vertical-align: left;
}

.res{
    text-align: center;
    margin: 10px 0 10px;
}

#res-wrap .price{
    position: relative;
    left: 30px;
}
#res-wrap .label{
    margin-left:20px;
}



