body{
    background-color: rgb(245, 243, 239);
}
#footer{
    margin: 0 auto;
    width: 100%;
    position: absolute;
    bottom: 0;
}
#footer div {
    text-align: center;
}

.account-nav {
    margin: 5px 10px 0;
}

.account-nav a{
    margin: 0 10px 0;
}

