#search-wrap {
    margin-top: 15em;
    text-align: center;
}

#input-wrap {
    width: 100%;
}

#checkbox-wrap {
    width: 100%;
}

#checkbox-wrap label{
    width: 60px;
    vertical-align: left;
}

#res-wrap{
    text-align: center;
}

#res-wrap .price{
    position: relative;
    left: 50px;
}
