{% extends "../base.html" %}
{% block head_css_section %}
{% end %}

{% block body_main %}
<div id="login-wrap">
    <form method="POST" action="">
        <fieldset>
            {% module xsrf_form_html() %}
            <legend>登录</legend>
            <label>用户名或邮箱</label>
            <input type="text" name="u" value="{{ username }}">
            <span class="text-error">{{ errors.get('username', '') }}</span>
            <label>密码</label>
            <input type="password" name="p">
            <span class="text-error">{{ errors.get('password', '') }}</span>
            <input type="hidden" name="next" value="{{ next }}">
            <p><button type="submit" class="btn">确定</button></p>
        </fieldset>
    </form>
</div>
{% end %}

